/* CSS STYLES */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: rgb(39, 39, 39);
}

/* Navigation Bar */
nav {
    background-color: #171717;
    padding: 1rem;
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #273445;
}

/* Header / Banner */
header {
    text-align: center;
    padding: 3rem 1rem;
    background-color: #273445;
    color: white;
}

/* Main Content Container */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

/* Sections */
section {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #2c3e50;
    border-bottom: 2px solid #1b232c;
    padding-bottom: 5px;
}

/* Skills Section */
.skills-list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.skills-list li {
    background-color: #273445;
    color: white;
    padding: 5px 12px;
    border-radius: 15px;
    font-size: 0.9rem;
}

/* Projects Section */
.project-card {
    border: 1px solid #ddd;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
}

/* Contact Section Links */
.contact-links a {
    color: #3491b3;
    text-decoration: none;
    font-weight: bold;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background-color: #2c3e50;
    color: white;
    margin-top: 20px;
}
/* Profile Picture Styling */
.profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 70%; /* Makes the image a round circle */
    object-fit: cover;   /* Prevents image stretching */
    border: 3px solid #1b232c;
    margin-top: 15px;

}
.Certificate-Card{
    border: 1px solid #ddd;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
}
